/* buttons */

.btn
  display: inline-block
  padding: 0 5px
  margin-bottom: 0
  font-size: rem(12)
  font-weight: 400
  text-align: center
  white-space: nowrap
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  user-select: none
  background:
    image: none
    color: $color-red
  border: 1px solid $color-red
  border-radius: 3px
  height: 30px
  line-height: 28px
  transition: all 0.35s ease
  text-transform: uppercase
  color: $color-white
  min-width: 158px
  transform: skewX(-15deg)
  font-family: $font-roboto-bold
  margin-left: 4px
  margin-right: 4px
  text-decoration: none
  span
    display: inline-block
    transform: skewX(15deg)

  &:hover, &:focus, &:active
    outline: none
    text-decoration: none
    color: $color-red
    background: $color-white

  &--default
    color: #333
    background-color: $color-white
    border-color: $color-gray

  &--header
    height: 35px
    line-height: 33px
    width: 125px
    min-width: inherit
    margin-left: -5px
    position: relative
    z-index: 55
    &:hover
      background: #ff5e5e
      border-color: #ff5e5e
      color: $color-white

  &--middle
    height: 35px
    line-height: 33px

  &--3d
    box-shadow: 1px 3px 0px $color-darkred
    position: relative
    top: 0
    &:focus, &:hover
      top: 3px
      box-shadow: 0 0 0 $color-darkred
      background: #ff5e5e
      border-color: #ff5e5e
      color: $color-white

  &--block
    width: calc(100% - 9px)
    display: block
