/* forms */

input
  &::-webkit-input-placeholder
    color: $color-gray
  &::-moz-placeholder
    color: $color-gray
  &:-ms-input-placeholder
    color: $color-gray
  &:-moz-placeholder
    color: $color-gray

button, input, optgroup, select, textarea
  margin: 0
  font: inherit
  color: inherit
  outline: none
  &:hover, &:focus, &:active
    outline: none

button, html input[type=button], input[type=reset], input[type=submit]
  -webkit-appearance: button
  cursor: pointer
  outline: none

.form
  &-group,  &__group
    margin-bottom: 15px

    transform: skewX(-15deg)
    border: 1px solid $color-lightgray
    background: $color-lightgray
    border-radius: 3px
    position: relative
    overflow: hidden
    display: block

  &-control, &__control
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857143
    color: #555
    background-color: $color-white
    background-image: none
    border: 1px solid $color-gray
    border-radius: 4px
    box-shadow: none
    transition: border-color all .35s

    transform: skewX(15deg)
    background: none
    height: 33px
    border: 0
    padding: 0 20px 0 20px
    width: 100%
    font-size: rem(12)
    font-family: $font-roboto

textarea
  &.form-control, &.form__control
    height: 150px
    resize: none

label
  display: inline-block
  max-width: 100%
  margin-bottom: 5px
  font-weight: 400

.has
  &-success .form-control
    border-color: #3c763d
    box-shadow: none

  &-warning .form-control
    border-color: #8a6d3b
    box-shadow: none

  &-error .form-control
    border-color: #a94442
    box-shadow: none

  &-success .control-label
    color: #3c763d

  &-warning .control-label
    color: #8a6d3b

  &-error .control-label
    color: #a94442
