// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$icon-facebook-name: 'icon-facebook'
$icon-facebook-x: 0px
$icon-facebook-y: 158px
$icon-facebook-offset-x: 0px
$icon-facebook-offset-y: -158px
$icon-facebook-width: 30px
$icon-facebook-height: 30px
$icon-facebook-total-width: 146px
$icon-facebook-total-height: 1117px
$icon-facebook-image: 'sprite.png'
$icon-facebook: (0px, 158px, 0px, -158px, 30px, 30px, 146px, 1117px, 'sprite.png', 'icon-facebook', )
$icon-google-plus-name: 'icon-google-plus'
$icon-google-plus-x: 0px
$icon-google-plus-y: 128px
$icon-google-plus-offset-x: 0px
$icon-google-plus-offset-y: -128px
$icon-google-plus-width: 30px
$icon-google-plus-height: 30px
$icon-google-plus-total-width: 146px
$icon-google-plus-total-height: 1117px
$icon-google-plus-image: 'sprite.png'
$icon-google-plus: (0px, 128px, 0px, -128px, 30px, 30px, 146px, 1117px, 'sprite.png', 'icon-google-plus', )
$icon-information-1-small-name: 'icon-information-1-small'
$icon-information-1-small-x: 0px
$icon-information-1-small-y: 73px
$icon-information-1-small-offset-x: 0px
$icon-information-1-small-offset-y: -73px
$icon-information-1-small-width: 20px
$icon-information-1-small-height: 25px
$icon-information-1-small-total-width: 146px
$icon-information-1-small-total-height: 1117px
$icon-information-1-small-image: 'sprite.png'
$icon-information-1-small: (0px, 73px, 0px, -73px, 20px, 25px, 146px, 1117px, 'sprite.png', 'icon-information-1-small', )
$icon-information-1-name: 'icon-information-1'
$icon-information-1-x: 0px
$icon-information-1-y: 283px
$icon-information-1-offset-x: 0px
$icon-information-1-offset-y: -283px
$icon-information-1-width: 27px
$icon-information-1-height: 35px
$icon-information-1-total-width: 146px
$icon-information-1-total-height: 1117px
$icon-information-1-image: 'sprite.png'
$icon-information-1: (0px, 283px, 0px, -283px, 27px, 35px, 146px, 1117px, 'sprite.png', 'icon-information-1', )
$icon-information-2-small-name: 'icon-information-2-small'
$icon-information-2-small-x: 0px
$icon-information-2-small-y: 48px
$icon-information-2-small-offset-x: 0px
$icon-information-2-small-offset-y: -48px
$icon-information-2-small-width: 20px
$icon-information-2-small-height: 25px
$icon-information-2-small-total-width: 146px
$icon-information-2-small-total-height: 1117px
$icon-information-2-small-image: 'sprite.png'
$icon-information-2-small: (0px, 48px, 0px, -48px, 20px, 25px, 146px, 1117px, 'sprite.png', 'icon-information-2-small', )
$icon-information-2-name: 'icon-information-2'
$icon-information-2-x: 0px
$icon-information-2-y: 248px
$icon-information-2-offset-x: 0px
$icon-information-2-offset-y: -248px
$icon-information-2-width: 27px
$icon-information-2-height: 35px
$icon-information-2-total-width: 146px
$icon-information-2-total-height: 1117px
$icon-information-2-image: 'sprite.png'
$icon-information-2: (0px, 248px, 0px, -248px, 27px, 35px, 146px, 1117px, 'sprite.png', 'icon-information-2', )
$icon-logo-small-white-name: 'icon-logo-small-white'
$icon-logo-small-white-x: 0px
$icon-logo-small-white-y: 0px
$icon-logo-small-white-offset-x: 0px
$icon-logo-small-white-offset-y: 0px
$icon-logo-small-white-width: 20px
$icon-logo-small-white-height: 24px
$icon-logo-small-white-total-width: 146px
$icon-logo-small-white-total-height: 1117px
$icon-logo-small-white-image: 'sprite.png'
$icon-logo-small-white: (0px, 0px, 0px, 0px, 20px, 24px, 146px, 1117px, 'sprite.png', 'icon-logo-small-white', )
$icon-logo-small-name: 'icon-logo-small'
$icon-logo-small-x: 0px
$icon-logo-small-y: 24px
$icon-logo-small-offset-x: 0px
$icon-logo-small-offset-y: -24px
$icon-logo-small-width: 20px
$icon-logo-small-height: 24px
$icon-logo-small-total-width: 146px
$icon-logo-small-total-height: 1117px
$icon-logo-small-image: 'sprite.png'
$icon-logo-small: (0px, 24px, 0px, -24px, 20px, 24px, 146px, 1117px, 'sprite.png', 'icon-logo-small', )
$icon-mail-name: 'icon-mail'
$icon-mail-x: 0px
$icon-mail-y: 98px
$icon-mail-offset-x: 0px
$icon-mail-offset-y: -98px
$icon-mail-width: 30px
$icon-mail-height: 30px
$icon-mail-total-width: 146px
$icon-mail-total-height: 1117px
$icon-mail-image: 'sprite.png'
$icon-mail: (0px, 98px, 0px, -98px, 30px, 30px, 146px, 1117px, 'sprite.png', 'icon-mail', )
$icon-odnoklassniki-logo-name: 'icon-odnoklassniki-logo'
$icon-odnoklassniki-logo-x: 0px
$icon-odnoklassniki-logo-y: 188px
$icon-odnoklassniki-logo-offset-x: 0px
$icon-odnoklassniki-logo-offset-y: -188px
$icon-odnoklassniki-logo-width: 30px
$icon-odnoklassniki-logo-height: 30px
$icon-odnoklassniki-logo-total-width: 146px
$icon-odnoklassniki-logo-total-height: 1117px
$icon-odnoklassniki-logo-image: 'sprite.png'
$icon-odnoklassniki-logo: (0px, 188px, 0px, -188px, 30px, 30px, 146px, 1117px, 'sprite.png', 'icon-odnoklassniki-logo', )
$icon-register-q1-name: 'icon-register-q1'
$icon-register-q1-x: 0px
$icon-register-q1-y: 980px
$icon-register-q1-offset-x: 0px
$icon-register-q1-offset-y: -980px
$icon-register-q1-width: 146px
$icon-register-q1-height: 137px
$icon-register-q1-total-width: 146px
$icon-register-q1-total-height: 1117px
$icon-register-q1-image: 'sprite.png'
$icon-register-q1: (0px, 980px, 0px, -980px, 146px, 137px, 146px, 1117px, 'sprite.png', 'icon-register-q1', )
$icon-register-q2-name: 'icon-register-q2'
$icon-register-q2-x: 0px
$icon-register-q2-y: 843px
$icon-register-q2-offset-x: 0px
$icon-register-q2-offset-y: -843px
$icon-register-q2-width: 146px
$icon-register-q2-height: 137px
$icon-register-q2-total-width: 146px
$icon-register-q2-total-height: 1117px
$icon-register-q2-image: 'sprite.png'
$icon-register-q2: (0px, 843px, 0px, -843px, 146px, 137px, 146px, 1117px, 'sprite.png', 'icon-register-q2', )
$icon-sitebar-1-name: 'icon-sitebar-1'
$icon-sitebar-1-x: 0px
$icon-sitebar-1-y: 543px
$icon-sitebar-1-offset-x: 0px
$icon-sitebar-1-offset-y: -543px
$icon-sitebar-1-width: 40px
$icon-sitebar-1-height: 40px
$icon-sitebar-1-total-width: 146px
$icon-sitebar-1-total-height: 1117px
$icon-sitebar-1-image: 'sprite.png'
$icon-sitebar-1: (0px, 543px, 0px, -543px, 40px, 40px, 146px, 1117px, 'sprite.png', 'icon-sitebar-1', )
$icon-sitebar-2-name: 'icon-sitebar-2'
$icon-sitebar-2-x: 0px
$icon-sitebar-2-y: 583px
$icon-sitebar-2-offset-x: 0px
$icon-sitebar-2-offset-y: -583px
$icon-sitebar-2-width: 40px
$icon-sitebar-2-height: 40px
$icon-sitebar-2-total-width: 146px
$icon-sitebar-2-total-height: 1117px
$icon-sitebar-2-image: 'sprite.png'
$icon-sitebar-2: (0px, 583px, 0px, -583px, 40px, 40px, 146px, 1117px, 'sprite.png', 'icon-sitebar-2', )
$icon-sitebar-3-name: 'icon-sitebar-3'
$icon-sitebar-3-x: 0px
$icon-sitebar-3-y: 423px
$icon-sitebar-3-offset-x: 0px
$icon-sitebar-3-offset-y: -423px
$icon-sitebar-3-width: 40px
$icon-sitebar-3-height: 40px
$icon-sitebar-3-total-width: 146px
$icon-sitebar-3-total-height: 1117px
$icon-sitebar-3-image: 'sprite.png'
$icon-sitebar-3: (0px, 423px, 0px, -423px, 40px, 40px, 146px, 1117px, 'sprite.png', 'icon-sitebar-3', )
$icon-user-1-name: 'icon-user-1'
$icon-user-1-x: 0px
$icon-user-1-y: 318px
$icon-user-1-offset-x: 0px
$icon-user-1-offset-y: -318px
$icon-user-1-width: 35px
$icon-user-1-height: 35px
$icon-user-1-total-width: 146px
$icon-user-1-total-height: 1117px
$icon-user-1-image: 'sprite.png'
$icon-user-1: (0px, 318px, 0px, -318px, 35px, 35px, 146px, 1117px, 'sprite.png', 'icon-user-1', )
$icon-user-2-name: 'icon-user-2'
$icon-user-2-x: 0px
$icon-user-2-y: 353px
$icon-user-2-offset-x: 0px
$icon-user-2-offset-y: -353px
$icon-user-2-width: 35px
$icon-user-2-height: 35px
$icon-user-2-total-width: 146px
$icon-user-2-total-height: 1117px
$icon-user-2-image: 'sprite.png'
$icon-user-2: (0px, 353px, 0px, -353px, 35px, 35px, 146px, 1117px, 'sprite.png', 'icon-user-2', )
$icon-user-3-name: 'icon-user-3'
$icon-user-3-x: 0px
$icon-user-3-y: 388px
$icon-user-3-offset-x: 0px
$icon-user-3-offset-y: -388px
$icon-user-3-width: 35px
$icon-user-3-height: 35px
$icon-user-3-total-width: 146px
$icon-user-3-total-height: 1117px
$icon-user-3-image: 'sprite.png'
$icon-user-3: (0px, 388px, 0px, -388px, 35px, 35px, 146px, 1117px, 'sprite.png', 'icon-user-3', )
$icon-vk-name: 'icon-vk'
$icon-vk-x: 0px
$icon-vk-y: 218px
$icon-vk-offset-x: 0px
$icon-vk-offset-y: -218px
$icon-vk-width: 30px
$icon-vk-height: 30px
$icon-vk-total-width: 146px
$icon-vk-total-height: 1117px
$icon-vk-image: 'sprite.png'
$icon-vk: (0px, 218px, 0px, -218px, 30px, 30px, 146px, 1117px, 'sprite.png', 'icon-vk', )
$navigation-info-1-name: 'navigation-info-1'
$navigation-info-1-x: 0px
$navigation-info-1-y: 623px
$navigation-info-1-offset-x: 0px
$navigation-info-1-offset-y: -623px
$navigation-info-1-width: 51px
$navigation-info-1-height: 40px
$navigation-info-1-total-width: 146px
$navigation-info-1-total-height: 1117px
$navigation-info-1-image: 'sprite.png'
$navigation-info-1: (0px, 623px, 0px, -623px, 51px, 40px, 146px, 1117px, 'sprite.png', 'navigation-info-1', )
$navigation-info-2-name: 'navigation-info-2'
$navigation-info-2-x: 0px
$navigation-info-2-y: 503px
$navigation-info-2-offset-x: 0px
$navigation-info-2-offset-y: -503px
$navigation-info-2-width: 51px
$navigation-info-2-height: 40px
$navigation-info-2-total-width: 146px
$navigation-info-2-total-height: 1117px
$navigation-info-2-image: 'sprite.png'
$navigation-info-2: (0px, 503px, 0px, -503px, 51px, 40px, 146px, 1117px, 'sprite.png', 'navigation-info-2', )
$navigation-info-3-name: 'navigation-info-3'
$navigation-info-3-x: 0px
$navigation-info-3-y: 463px
$navigation-info-3-offset-x: 0px
$navigation-info-3-offset-y: -463px
$navigation-info-3-width: 51px
$navigation-info-3-height: 40px
$navigation-info-3-total-width: 146px
$navigation-info-3-total-height: 1117px
$navigation-info-3-image: 'sprite.png'
$navigation-info-3: (0px, 463px, 0px, -463px, 51px, 40px, 146px, 1117px, 'sprite.png', 'navigation-info-3', )
$why-number-1-name: 'why-number-1'
$why-number-1-x: 0px
$why-number-1-y: 663px
$why-number-1-offset-x: 0px
$why-number-1-offset-y: -663px
$why-number-1-width: 75px
$why-number-1-height: 60px
$why-number-1-total-width: 146px
$why-number-1-total-height: 1117px
$why-number-1-image: 'sprite.png'
$why-number-1: (0px, 663px, 0px, -663px, 75px, 60px, 146px, 1117px, 'sprite.png', 'why-number-1', )
$why-number-2-name: 'why-number-2'
$why-number-2-x: 0px
$why-number-2-y: 723px
$why-number-2-offset-x: 0px
$why-number-2-offset-y: -723px
$why-number-2-width: 75px
$why-number-2-height: 60px
$why-number-2-total-width: 146px
$why-number-2-total-height: 1117px
$why-number-2-image: 'sprite.png'
$why-number-2: (0px, 723px, 0px, -723px, 75px, 60px, 146px, 1117px, 'sprite.png', 'why-number-2', )
$why-number-3-name: 'why-number-3'
$why-number-3-x: 0px
$why-number-3-y: 783px
$why-number-3-offset-x: 0px
$why-number-3-offset-y: -783px
$why-number-3-width: 75px
$why-number-3-height: 60px
$why-number-3-total-width: 146px
$why-number-3-total-height: 1117px
$why-number-3-image: 'sprite.png'
$why-number-3: (0px, 783px, 0px, -783px, 75px, 60px, 146px, 1117px, 'sprite.png', 'why-number-3', )
$spritesheet-width: 146px
$spritesheet-height: 1117px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($icon-facebook, $icon-google-plus, $icon-information-1-small, $icon-information-1, $icon-information-2-small, $icon-information-2, $icon-logo-small-white, $icon-logo-small, $icon-mail, $icon-odnoklassniki-logo, $icon-register-q1, $icon-register-q2, $icon-sitebar-1, $icon-sitebar-2, $icon-sitebar-3, $icon-user-1, $icon-user-2, $icon-user-3, $icon-vk, $navigation-info-1, $navigation-info-2, $navigation-info-3, $why-number-1, $why-number-2, $why-number-3, )
$spritesheet: (146px, 1117px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(../img/#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
