doctype

html(lang="ru")
  
  -var active = 'Вопросы и ответы' //активный пункт меню, список в header.jade
  -var pageTitle = 'Вопросы и ответы' + ' - redpuzzle.ru' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        // Breadcrumbs
        ul.breadcrumbs
          li
            a(href="#!") RedPuzzle.ru
          li
            span Название страницы
        
        .row
          .col-sm-9
            
            .content__head
              .h1 Вопросы и ответы
            
            .h4 Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. 
            
            .clear20
            
            // FAQ
            .faq
              .faq__row
                .faq__title Регистрация
                .faq__block
                  .faq__block-title
                    a(href="#!") Зачем нужна регистрация?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как зарегистрироваться на сайте?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Можно ли не регистрироваться на сайте, а просто получить контактные телефоны работодателя для связи?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как изменить e-mail и/или пароль?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Забыли логин/пароль?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как удалить мою регистрацию с сайта?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
            
              .faq__row
                .faq__title Создание и редактирование резюме
                .faq__block
                  .faq__block-title
                    a(href="#!") Как создать резюме?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                .faq__block
                  .faq__block-title
                    a(href="#!") Зачем нужна функция «Дублировать резюме»?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                .faq__block
                  .faq__block-title
                    a(href="#!") Как внести изменения в резюме?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как можно удалить ранее сделанное резюме?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как разместить резюме, чтобы его не увидел мой нынешний работодатель?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как узнать, какие компании просматривали мое резюме?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Можно ли не заполнять все поля в резюме?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как выбрать профессиональную область?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как сделать, чтобы опыт работы отображался в произвольном порядке, а не в хронологическом?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Я только закончил вуз, и у меня пока нет опыта работы. Как заполнить страницу Профессиональный опыт, при составлении резюме она является обязательной?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Чем отличается пункт «Повышение квалификации/Курсы» от пункта «Тесты/Экзамены» в разделе «Образование» в построителе резюме?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") В каких случаях резюме может быть удалено модератором?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Что такое «незавершенное резюме»?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Почему мое резюме заблокировано?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
            
              .faq__row
                .faq__title Поиск вакансий
                .faq__block
                  .faq__block-title
                    a(href="#!") Как найти вакансию?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Учитывается ли регистр при поиске?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как сохранить параметры поиска вакансий?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как подписаться на рассылку / отписаться от рассылки вакансий по электронной почте?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как подписаться на рассылку вакансий через RSS?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Можно ли не показывать мне неподходящую вакансию в результатах поиска?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
            
              .faq__row
                .faq__title Отклики и приглашения
                .faq__block
                  .faq__block-title
                    a(href="#!") Что такое отклик?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Как происходит отклик на вакансию?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Что обозначают красный и зеленый кружки на странице «Отклики и приглашения»?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Насколько быстро будет просмотрен отклик работодателем и от чего это зависит?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Почему не всегда приходят sms c приглашением на интервью?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Могу я откликаться на вакансию, если статус моего резюме стоит «не видно никому»?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Я отправил отклик с резюме через сайт, потом обновил резюме. Те работодатели, которые просмотрят его завтра, увидят новую версию или ту, что была на момент отправки?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Можно ли направить повторный отклик на вакансию?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
                .faq__block
                  .faq__block-title
                    a(href="#!") Что такое приглашение?
                  .faq__block-answer
                    p Заинтересованность работодателя подтверждается одновременно двумя видами уведомлений: по электронному адресу, указанному в резюме, и на вашей странице «Отклики и приглашения». 
                    p Дополнительное уведомление по sms происходит только по желанию работодателя.
            
            
          .col-sm-3
            
            // Right
            .column-right
              
              // Call block
              +callBlock
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
