doctype

html(lang="ru")
  
  -var active = 'Главная 2' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная 2' + ' - redpuzzle.ru' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Slide block
    .slide
      .container
          
        .slide__form
          form(action="#")
            fieldset
              legend разместить вакансию 2
              .row.row--slide-form
                .col-sm-6
                  .form-group.form-group--small.has-feedback.block-focus
                    label.hidden Имя
                    input(type="text" name="name" placeholder="Имя").form-control.input-focus
                    i.ion-alert-circled
                .col-sm-6
                  .form-group.form-group--small.has-feedback.block-focus
                    label.hidden Фамилия
                    input(type="text" name="name" placeholder="Фамилия").form-control.input-focus
                    i.ion-alert-circled
              .form-group.form-group--small.has-feedback.block-focus.has-error
                label.hidden Email
                input(type="email" name="name" placeholder="Email").form-control.input-focus
                i.ion-alert-circled
              .form-group.form-group--small.has-feedback.block-focus
                label.hidden Телефон
                input(type="text" name="name" placeholder="Телефон").form-control.input-focus
                i.ion-alert-circled
              .form-group.form-group--small.has-feedback.block-focus
                label.hidden Пароль
                input(type="password" name="name" placeholder="Пароль").form-control.input-focus
                i.ion-alert-circled
              button(type="submit").btn.btn--3d.btn--block
                span Разместить вакансию
              p Вы можете прийти к нам в офис в вашем городе и мы все сделем за Вас.
              .form-group.form-group--checkbox.form-group--small
                label.hidden Согласен на обработку моих личных данных
                input#input4(type="checkbox" name="confidental" checked)
                i.ion-android-checkbox-outline-blank
                i.ion-android-checkbox-outline
                label(for="input4").label Согласен на передачу персональных данных
        .slide__content.slide__content--employer
          .slide__content-text
            span.span1 
              i Сервис для трудовых мигрантов
            br
            span.span2 
              i Redpuzzle и Красный Крест помогут 
            br
            span.span3 
              i тебе найти работу!
          img(src="./img/slide-img-2.png", alt="")
    
    // Content
    .content
      
      // Section
      section.section.new-resume
        .container
          
          .h2 новые резюме
          
          .new-resume__row
            .new-resume__block
              a.new-resume__link(href="#!") E-mail маркетолог
              .new-resume__price 40 000 руб.
              p Опыт работы - 1 год и 5 месяцев
            .new-resume__block
              img(src="./img/new-resume-img-1.png", alt="").new-resume__img
              a.new-resume__link(href="#!") Бухгалтер
              .new-resume__price 60 000 руб.
              p Опыт работы - 11 лет и 9 месяцев
            .new-resume__block
              a.new-resume__link(href="#!") Менеджер по работе с клиентами
              .new-resume__price 80 000 руб.
              p Опыт работы - 15 лет и 5 месяцев
            .new-resume__block
              a.new-resume__link(href="#!") Специалист по охране труда
              .new-resume__price 50 000 руб.
              p Опыт работы - 10 лет и 5 месяцев
            .new-resume__block
              a.new-resume__link(href="#!") E-mail маркетолог
              .new-resume__price з/п не указана
              p Опыт работы - 7 лет и 10 месяцев
            .new-resume__block
              a.new-resume__link(href="#!") Account Manager
              .new-resume__price 22 000 руб.
              p Опыт работы - 6 лет и 0 месяцев
            .new-resume__block
              a.new-resume__link(href="#!") Java-розробник
              .new-resume__price 160 000 руб
              p Опыт работы - 18 лет и 11 месяцев
            .new-resume__block
              a.new-resume__link(href="#!") Коммерческий директор
              .new-resume__price 320 000 руб
              p Опыт работы - 20 лет и 1 месяц
      
      // Section
      section.section.purchase
        .container
          
          .h2 Покупка услуг
          
          .purchase__row.row
            .col-md-3.col-sm-6
              .purchase__block
                .purchase__title Стандарт
                .purchase__price 1 000 
                  small руб.
                .purchase__info
                  ul
                    li Доступ к базе 30 дней
                    li Размещение вакансий на 30 дней
                a(href="#!").btn.btn--block.btn--3d
                  span купить
            .col-md-3.col-sm-6
              .purchase__block.purchase__block--plus
                .purchase__mark ХИТ
                .purchase__title Стандарт Плюс
                .purchase__price 2 199 
                  small руб.
                .purchase__info
                  ul
                    li Доступ к базе 90 дней
                    li Размещение вакансий на 30 дней
                    li Обновление вакансии каждые 3 дня
                a(href="#!").btn.btn--block.btn--3d
                  span купить
            .col-md-3.col-sm-6
              .purchase__block.purchase__block--premium
                .purchase__title Премиум
                .purchase__price 4 599 
                  small руб.
                .purchase__info
                  ul
                    li Доступ к базе 180 дней
                    li Размещение вакансий на 30 дней
                    li Единоразовая рассылка подходящим соискателям
                    li 7 дней в начале поиска, с логотипом и выделением цветом
                a(href="#!").btn.btn--block.btn--3d
                  span купить
            .col-md-3.col-sm-6
              .purchase__block.purchase__block--anonymous
                .purchase__title Анонимная
                .purchase__price 6 999 
                  small руб.
                .purchase__info
                  ul
                    li Доступ к базе 30 дней
                    li Без упоминания названия компании
                a(href="#!").btn.btn--block.btn--3d
                  span купить
      
      // Section
      section.section.position-vacancy
        .container
          
          .h2 резюме по направлениям
          ul
            li
              a(href="#!")
                strong Автомобильный бизнес
                span 10654
            li
              a(href="#!")
                strong Административный персонал
                span 56406
            li
              a(href="#!")
                strong Банки, инвестиции, лизинг
                span 6544
            li
              a(href="#!")
                strong Безопасность
                span 5466
            li
              a(href="#!")
                strong Бухгалтерия, управленческий учет, финансы предприятия
                span 9840
            li
              a(href="#!")
                strong Высший менеджмент
                span 986
            li
              a(href="#!")
                strong Государственная служба, некоммерческие организации
                span 4560
            li
              a(href="#!")
                strong Добыча сырья
                span 6410
            li
              a(href="#!")
                strong Домашний персонал
                span 20654
            li
              a(href="#!")
                strong Закупки
                span 16406
            li
              a(href="#!")
                strong Инсталляция и сервис
                span 3544
            li
              a(href="#!")
                strong Информационные технологии, интернет, телеком
                span 149
            li
              a(href="#!")
                strong Искусство, развлечения, масс-медиа
                span 1840
            li
              a(href="#!")
                strong Консультирование
                span 186
            li
              a(href="#!")
                strong Маркетинг, реклама, PR
                span 552
            li
              a(href="#!")
                strong Медицина, фармацевтика
                span 9560
            li
              a(href="#!")
                strong Наука, образование
                span 9410
            li
              a(href="#!")
                strong Начало карьеры, студенты
                span 654
            li
              a(href="#!")
                strong Продажи
                span 406
            li
              a(href="#!")
                strong Производство
                span 544
            li
              a(href="#!")
                strong Рабочий персонал
                span 466
            li
              a(href="#!")
                strong Спортивные клубы, фитнес, салоны красоты
                span 149
            li
              a(href="#!")
                strong Страхование
                span 840
            li
              a(href="#!")
                strong Строительство, недвижимость
                span 186
            li
              a(href="#!")
                strong Транспорт, логистика
                span 552
            li
              a(href="#!")
                strong Туризм, гостиницы, рестораны
                span 560
            li
              a(href="#!")
                strong Управление персоналом, тренинги
                span 410
      
      // Section
      section.section.why.no--p-top
        .container
          
          .h2 почему мы?
          
          .row
            .col-lg-8.col-md-7
              blockquote.why__readmore
                p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 
              
              .why__name
                strong Иванов Иван Иванович
                span Проф. медецинских наук им. Ломоносова
            
            .col-lg-4.col-md-5.hidden-sm.hidden-xs
              img(src="./img/why-img.png", alt="").why__img
      
          .why__row
            .row
              .col-lg-3.col-sm-4
                .why__block
                  .why__title Идеальный кандидат на вашу вакансию
                  .why__number 1
                    i.icon.icon--why-number-1
                  p Ежемесячно 200 миллионов соискателей посещают Redpuzze, что дает вам доступ к самым талантливым кандидатам во всех областях.
              .col-lg-3.col-sm-4
                .why__block
                  .why__title Доступ с компьютера и мобильных устройств 
                  .why__number 2
                    i.icon.icon--why-number-2
                  p Более 60% поиска осуществляется с помощью мобильных телефонов. Размещайте вакансии на Redpuzze, чтобы просматривать отклики соискателей с любых мобильных устройств.
              .col-lg-3.col-sm-4
                .why__block
                  .why__title Больше квалифицированных кандидатов
                  .why__number 3
                    i.icon.icon--why-number-3
                  p Для тысяч компаний Redpuzze является основным источником найма сотрудников извне. 
      
      // Section
      section.section.our-partners
        .container
          
          .h2 наши партнеры
          .our-partners__link
            a(href="#!")
              span.hidden-xxs Посмотреть всех партнеров
              span.visible-xxs-inline-block
                i.ion-share
          
          .clear
          
          .row
            -for (var i=1; i<7; i++)
              .col-sm-2.col-xs-4.col-xxs-6
                .our-partners__block
                  a(href="#!")
                    img(src="./img/our-work-#{i}.png", alt="")
              
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
    script.
      $(document).ready(function(){
        $('.header__links li:first-child').removeClass('active');
        $('.header__links li:nth-child(2)').addClass('active');
      })
