doctype

html(lang="ru")
  
  -var active = 'Поиск работ' //активный пункт меню, список в header.jade
  -var pageTitle = 'Поиск работ' + ' - redpuzzle.ru' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        // Breadcrumbs
        ul.breadcrumbs
          li
            a(href="#!") RedPuzzle.ru
          li
            span Название страницы
        
        .content__head.content__head--mobile
          button#mobileColBtn(type="button").content__head-button
            i.ion-gear-a
          .h1 поиск работы в москве и области
        
        // Mobile column
        #mobileCol.mobile__col
          .mobile__col-background
          .mobile__col-wrapper
            #mobileColWrapperBody.mobile__col-wrapper__body
              button#mobileColButton(type="button").mobile__col-button
                span
                  i.ion-gear-a
              #mobileColWrapperBody-div
                //- include ./_include/_fillter
        
        // Catalog search
        .catalog-search
          div
            .catalog__search
              .catalog__search-wrapper.block-focus
                div
                  .input
                    label.hidden
                    input(type="text" placeholder="Менеджер по продажам").input-focus
                div
                  button(type="submit").btn.btn--catalog-search
                    span найти
          div
            .catalog__sorting
              .catalog__sorting-background
              .catalog__sorting-head
                i.ion-stats-bars
                | сортировать
                i.ion-chevron-down
              .catalog__sorting-wrapper
                .catalog__sorting-input
                  div
                    .form-group.form-group--radio
                      label.hidden по дате
                      input#by-name1(type="radio" name="by-name" checked)
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-name1").label по дате
                    .form-group.form-group--radio
                      label.hidden по убыванию зарплаты
                      input#by-name2(type="radio" name="by-name")
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-name2").label по убыванию зарплаты
                    .form-group.form-group--radio
                      label.hidden по возрастанию зарплаты
                      input#by-name3(type="radio" name="by-name")
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-name3").label по возрастанию зарплаты
                    .form-group.form-group--radio
                      label.hidden по соответствию
                      input#by-name4(type="radio" name="by-name")
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-name4").label по соответствию
                  div
                    .form-group.form-group--radio
                      label.hidden за месяц
                      input#by-date1(type="radio" name="by-date" checked)
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-date1").label за месяц
                    .form-group.form-group--radio
                      label.hidden за неделю
                      input#by-date2(type="radio" name="by-date")
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-date2").label за неделю
                    .form-group.form-group--radio
                      label.hidden за три дня
                      input#by-date3(type="radio" name="by-date")
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-date3").label за три дня
                    .form-group.form-group--radio
                      label.hidden за сутки
                      input#by-date4(type="radio" name="by-date")
                      i.ion-android-radio-button-off
                      i.ion-android-checkmark-circle
                      label(for="by-date4").label за сутки
                button(type="button").btn.btn--block
                  span Сортировать
          
        
        .row
          .col-md-3.hidden-sm.hidden-xs
            #mobileColContent.mobile__col-content
              div
                include ./_include/_fillter
            
          .col-md-9
            
            // Catalog
            .catalog
                            
              .catalog__row
                .catalog__row-title
                  a(href="#!") 
                    strong Менеджер по продажам
                    span срочная
                .catalog__row-info
                  div
                    .catalog__row-price 55 000-110 000 руб.
                    .catalog__row-name ООО Консалтинг Центр Про
                      i.ion-checkmark
                  div
                    .catalog__row-logo
                      img(src="./img/catalog-row-logo-1.png", alt="")
                p Телефонные продажи участия в деловом мероприятии (форуме/семинаре/конгрессе). Переговоры с клиентами премиум-сегмента рынка отрасли ЖКХ. Взаимодействие с аппаратом...
                .catalog__row-address
                  i.ion-ios-location
                  | Москва, Черкизовская  |  1 сентября 2017
                .button__group.button__group--catalog-row
                  div
                    a(href="#!").favorites__button
                      i.ion-android-star-outline
                      i.ion-android-star
                  div
                    +phoneVacancy
                  div
                    a(href="#popup-respond").btn.open-popup-link
                      span откликнуться
                      
              .catalog__row
                .catalog__row-title.catalog__row-title--extra
                  a(href="#!") 
                    strong Менеджер по продажам
                    span срочная
                .catalog__row-info
                  div
                    .catalog__row-price 55 000-110 000 руб.
                    .catalog__row-name.catalog__row-name--confirmed ООО Консалтинг Центр Про
                      i.ion-checkmark
                  div
                    .catalog__row-logo
                      img(src="./img/catalog-row-logo-2.png", alt="")
                p Телефонные продажи участия в деловом мероприятии (форуме/семинаре/конгрессе). Переговоры с клиентами премиум-сегмента рынка отрасли ЖКХ. Взаимодействие с аппаратом...
                .catalog__row-address
                  i.ion-ios-location
                  | Москва, Черкизовская  |  1 сентября 2017
                .button__group.button__group--catalog-row
                  div
                    a(href="#!").favorites__button
                      i.ion-android-star-outline
                      i.ion-android-star
                  div
                    a(href="#popup-respond").btn.open-popup-link
                      span откликнуться
                      
              .catalog__row
                .catalog__row-title.catalog__row-title--extra
                  a(href="#!") 
                    strong Менеджер по продажам
                    span срочная
                .catalog__row-info
                  div
                    .catalog__row-price 55 000-110 000 руб.
                    .catalog__row-name.catalog__row-name--confirmed ООО Консалтинг Центр Про
                      i.ion-checkmark
                  div
                    .catalog__row-logo
                      img(src="./img/catalog-row-logo-3.png", alt="")
                p Телефонные продажи участия в деловом мероприятии (форуме/семинаре/конгрессе). Переговоры с клиентами премиум-сегмента рынка отрасли ЖКХ. Взаимодействие с аппаратом...
                .catalog__row-address
                  i.ion-ios-location
                  | Москва, Черкизовская  |  1 сентября 2017
                .button__group.button__group--catalog-row
                  div
                    a(href="#!").favorites__button
                      i.ion-android-star-outline
                      i.ion-android-star
                  div
                    +phoneVacancy
                  div
                    a(href="#popup-respond").btn.open-popup-link
                      span откликнуться
                      
              .catalog__row
                .catalog__row-title
                  a(href="#!") 
                    strong Менеджер по продажам
                    span срочная
                .catalog__row-info
                  div
                    .catalog__row-price 55 000-110 000 руб.
                    .catalog__row-name ООО Консалтинг Центр Про
                      i.ion-checkmark
                p Телефонные продажи участия в деловом мероприятии (форуме/семинаре/конгрессе). Переговоры с клиентами премиум-сегмента рынка отрасли ЖКХ. Взаимодействие с аппаратом...
                .catalog__row-address
                  i.ion-ios-location
                  | Москва, Черкизовская  |  1 сентября 2017
                .button__group.button__group--catalog-row
                  div
                    a(href="#!").favorites__button
                      i.ion-android-star-outline
                      i.ion-android-star
                  div
                    a(href="#popup-respond").btn.open-popup-link
                      span откликнуться
                      
              .catalog__row
                .catalog__row-title
                  a(href="#!") 
                    strong Менеджер по продажам
                    span срочная
                .catalog__row-info
                  div
                    .catalog__row-price 55 000-110 000 руб.
                    .catalog__row-name ООО Консалтинг Центр Про
                      i.ion-checkmark
                p Телефонные продажи участия в деловом мероприятии (форуме/семинаре/конгрессе). Переговоры с клиентами премиум-сегмента рынка отрасли ЖКХ. Взаимодействие с аппаратом...
                .catalog__row-address
                  i.ion-ios-location
                  | Москва, Черкизовская  |  1 сентября 2017
                .button__group.button__group--catalog-row
                  div
                    a(href="#!").favorites__button
                      i.ion-android-star-outline
                      i.ion-android-star
                  div
                    a(href="#popup-respond").btn.open-popup-link
                      span откликнуться
            
            // Pagination
            +pagination
        
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
