doctype

html(lang="ru")
  
  -var active = 'Ошибка 404/403/500' //активный пункт меню, список в header.jade
  -var pageTitle = 'Ошибка 404/403/500' + ' - redpuzzle.ru' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        .content__pageAlert
          .h1 Ошибка 404  / 403  / 500
          p Что-то пошло не так. Возможно, вы ошиблись, набирая адрес в строке браузера — так бывает. Если вы уверены, что адрес набран верно, то страница, скорее всего, была удалена и ее больше нет.
          p Но не отчаивайтесь! Смело обращайтесь за помощью в 
            a(href="#!") поддержку
            | &nbsp;или перейдите на 
            a(href="#!") главную страницу
            | .
          ul.list
            li
              a(href="#!") Поиск вакансий
            li
              a(href="#!") Поиск резюме
            li
              a(href="#!") Новости
            li
              a(href="#!") Статьи
            li
              a(href="#!") Продвижение резюме
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
