doctype

html(lang="ru")
  
  -var active = 'Настройки' //активный пункт меню, список в header.jade
  -var pageTitle = 'Настройки' + ' - redpuzzle.ru' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        // Breadcrumbs
        ul.breadcrumbs
          li
            a(href="#!") RedPuzzle.ru
          li
            span Название страницы
        
        .content__head.content__head--mobile
          button#mobileColBtn(type="button").content__head-button
            i.ion-gear-a
          h1 Настройки
        
        // Mobile column
        #mobileCol.mobile__col
          .mobile__col-background
          .mobile__col-wrapper
            #mobileColWrapperBody.mobile__col-wrapper__body
              button#mobileColButton(type="button").mobile__col-button
                span
                  i.ion-gear-a
              #mobileColWrapperBody-div
                
        .row
          .col-md-3.hidden-sm.hidden-xs
            #mobileColContent.mobile__col-content
              div
                include ./_include/_profile-left
                  
          .col-md-9
            
            // Settings
            .settings
              form(action="#!")
                .row
                  .col-lg-6.col-md-5.col-sm-6
                    .clear15
                    
                    fieldset.form__fieldset
                      legend.form__legend.form__legend--small Сменить пароль
                      
                      .form-group.block-focus
                        label.hidden Введите старый пароль
                        input(type="text" name="name" placeholder="Введите старый пароль").form-control.input-focus
                      .form-group.block-focus
                        label.hidden Введите пароль
                        input(type="text" name="name" placeholder="Введите пароль").form-control.input-focus
                      .form-group.block-focus
                        label.hidden Повторите пароль
                        input(type="text" name="name" placeholder="Повторите пароль").form-control.input-focus
                      
                    fieldset.form__fieldset
                      legend.form__legend.form__legend--small тип работодателя
                      
                      .form-group.form-group--select
                        select.selectric
                          option(value="" selected disabled) Выберите тип
                          option(value="") Тип 1
                          option(value="") Тип 2
                          option(value="") Тип 3
                          option(value="") Тип 4
                          option(value="") Тип 5
                      
                    fieldset.form__fieldset
                      legend.form__legend.form__legend--small Реквизиты
                      
                      .form-group.block-focus
                        label.hidden Название реквизита
                        input(type="text" name="name" placeholder="Название реквизита").form-control.input-focus
                      .form-group.block-focus
                        label.hidden Название реквизита
                        input(type="text" name="name" placeholder="Название реквизита").form-control.input-focus
                      .form-group.block-focus
                        label.hidden Название реквизита
                        input(type="text" name="name" placeholder="Название реквизита").form-control.input-focus
                      .form-group.block-focus
                        label.hidden Название реквизита
                        input(type="text" name="name" placeholder="Название реквизита").form-control.input-focus
                      .form-group.block-focus
                        label.hidden Название реквизита
                        input(type="text" name="name" placeholder="Название реквизита").form-control.input-focus
                      
                      .form-group.form-group--file
                        input#inputfile.inputfile.inputfile-6(type='file', name='inputfile', placeholder="Добавить документ" data-multiple-caption='{count} файлов выбрано', multiple='')
                        label(for='inputfile')
                          span Добавить документ
                            i.ion-archive
                      
                      ul.inputfile__list
                        li
                          span Свидетельство о ИП
                          a(href="#!")
                            i.ion-trash-a
                        li
                          span Сертификат на работу
                          a(href="#!")
                            i.ion-trash-a
                        li
                          span Документ для документа
                          a(href="#!")
                            i.ion-trash-a

                      
                  .col-lg-6.col-md-7.col-sm-6
                    .clear25
                    fieldset.form__fieldset
                      .settings__image
                        div
                          .settings__image-div
                            img(src="./img/file-upload-image2.png", alt="").settings__picture
                        div
                          input.settings__file-upload(type="file" accept="image/*")
                          strong.settings__file-link Добавить логотип
                          p Поддерживаются фотографии размером не более 1 мегабайта. Формат изображений должен соответствовать этим расширениям - jpg, png, gif
                    
                    fieldset.form__fieldset
                      legend.form__legend.form__legend--small смс рассылка
                      
                      .form-group.form-group--checkbox.form-group--checkbox-medium
                        input#sms111(type="checkbox" name="sms111" checked)
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        label.label(for="sms111") Оповещения и советы
                        
                      .form-group.form-group--checkbox.form-group--checkbox-medium
                        input#sms222(type="checkbox" name="sms222" checked)
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        label.label(for="sms222") Новости сайта и рекламная информация
                          .small Обновление системы произойдет в течение суток после отписки от СМС-уведомлений, в это время возможно поступление сообщений. По прошествии суток вы больше не будете получать сообщения.

                      
                    fieldset.form__fieldset
                      legend.form__legend.form__legend--small email рассылка
                      
                      .form-group.form-group--checkbox.form-group--checkbox-medium
                        input#email111(type="checkbox" name="email111" checked)
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        label.label(for="email111") Оповещения и советы
                      .form-group.form-group--checkbox.form-group--checkbox-medium
                        input#email333(type="checkbox" name="email333" checked)
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        label.label(for="email333") Уведомление о просмотрах вакансий
                      .form-group.form-group--checkbox.form-group--checkbox-medium
                        input#email444(type="checkbox" name="email444" checked)
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        label.label(for="email444") Новости сайта и рекламная информация
                      .form-group.form-group--checkbox.form-group--checkbox-medium
                        input#email555(type="checkbox" name="email555" checked)
                        i.ion-android-checkbox-outline-blank
                        i.ion-android-checkbox-outline
                        label.label(for="email555") Новые резюме, соответствующие вашей вакансии
    
                button(type="button").btn.btn--big
                  span сохранить изменения
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
    script().
      $(document).ready(function(){
        $('.settings__nav li').removeClass('active');
        $('.settings__nav li:nth-child(1)').addClass('active');
      })
