doctype

html(lang="ru")
  
  -var active = 'Платные услуги' //активный пункт меню, список в header.jade
  -var pageTitle = 'Платные услуги' + ' - redpuzzle.ru' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    // Content
    .content.content--all
      .container
        
        // Breadcrumbs
        ul.breadcrumbs
          li
            a(href="#!") RedPuzzle.ru
          li
            span Название страницы
        
        .content__head.content__head--mobile
          button#mobileColBtn(type="button").content__head-button
            i.ion-gear-a
          h1 Платные услуги
        
        // Mobile column
        #mobileCol.mobile__col
          .mobile__col-background
          .mobile__col-wrapper
            #mobileColWrapperBody.mobile__col-wrapper__body
              button#mobileColButton(type="button").mobile__col-button
                span
                  i.ion-gear-a
              #mobileColWrapperBody-div
                
        .row
          .col-md-3.hidden-sm.hidden-xs
            #mobileColContent.mobile__col-content
              div
                include ./_include/_profile-left
                  
          .col-md-9
            
            // Buy top
            .buy-top
              .buy-top__head
                div Название
                div Цена
                div Описание
              .buy-top__wrapper
                .buy-top__row
                  .buy-top__row-left
                    a(href="#popup-pay-services").buy-top__row-link.open-popup-link
                      i.icon.icon--timer-24
                      strong Топ на 
                        br
                        | 24 часа
                  .buy-top__row-right
                    .buy-top__row-order Заказано до 
                      strong 31 января 2018
                  .buy-top__row-center
                    .buy-top__row-center__wrapper
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                .buy-top__row
                  .buy-top__row-left
                    a(href="#popup-pay-services").buy-top__row-link.open-popup-link
                      i.icon.icon--timer-48
                      strong Топ на 
                        br
                        | 48 часов
                  .buy-top__row-right
                    .price
                      strong 2 999 
                      | руб
                    a(href="#popup-pay-services").btn.btn--border.open-popup-link
                      span заказать
                  .buy-top__row-center
                    .buy-top__row-center__wrapper
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                .buy-top__row
                  .buy-top__row-left
                    a(href="#popup-pay-services").buy-top__row-link.open-popup-link
                      i.icon.icon--timer-96
                      strong Топ на 
                        br
                        | 96 часов
                  .buy-top__row-right
                    .price
                      strong 5 999 
                      | руб
                    a(href="#popup-pay-services2").btn.btn--border.open-popup-link
                      span заказать
                  .buy-top__row-center
                    .buy-top__row-center__wrapper
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                .buy-top__row
                  .buy-top__row-left
                    a(href="#popup-pay-services").buy-top__row-link.open-popup-link
                      i.icon.icon--timer-30
                      strong Топ на 
                        br
                        | 30 часов
                  .buy-top__row-right
                    .price
                      strong 10 999 
                      | руб
                    a(href="#popup-pay-services").btn.btn--border.open-popup-link
                      span заказать
                  .buy-top__row-center
                    .buy-top__row-center__wrapper
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                .buy-top__row
                  .buy-top__row-left
                    a(href="#popup-pay-services").buy-top__row-link.open-popup-link
                      i.icon.icon--timer-auto
                      strong Автообновление
                  .buy-top__row-right
                    .price
                      strong 100 999 
                      | руб
                    a(href="#popup-pay-services").btn.btn--border.open-popup-link
                      span заказать
                  .buy-top__row-center
                    .buy-top__row-center__wrapper
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
                      p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. 
              
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    include ./_include/_js-body-bottom
    script().
      $(document).ready(function(){
        $('.settings__nav li').removeClass('active');
        $('.settings__nav li:last-child').addClass('active');
      })
