// Header
header.header
  .header__top
    .container
      
      .header__location
        a(href="#popup-location").open-popup-link
          i.ion-ios-location
          span Актюбинск (Казахстан)
      
      .header__lang
        .header__lang-str Русский
          i.ion-chevron-down
        ul
          li.active
            a(href="#!") Русский
          li
            a(href="#!") Английский
          li
            a(href="#!") Казахский
      
      .header__phone
        .header__phone-str 8 (800) 765 43 21
          i.ion-chevron-down
        small С 09:00 до 18:00
          br
          | Понедельник - Пятница
  .header__wrapper
    .container
      .header__logo
        a(href="#!")
          img(src="./img/logo.png", alt="")
          span Партнер Российского Красного Креста
      
      .header__user
        div.hidden-xxs
          a(href="#popup-enter").open-popup-link
            i.icon.icon--user1
            span войти
        div.hidden-xxs
          a(href="#popup-register" data-balloon="начните с регистрации" data-balloon-pos="up-right").open-popup-register
            i.icon.icon--user2
            span регистрация
        div.mobile.visible-xxs
          a(href="#popup-enter").open-popup-link
            i.icon.icon--user2
            span войти 
              small на сайт
            
      .header__user.header__user--is-enter.hidden
        div
          a(href="#popup-enter").open-popup-link
            i.icon.icon--user3
            span Иванов
              small Иван иванович
              span 99
      
      .header__category
        .header__links
          ul
            li.active
              a(href="#!") Я соискатель
            li
              a(href="#!") Я работодатель
        .header__search
          form(action="#")
            .header__search-wrapper.block-focus
              div
                .input
                  label(for="search") Поиск вакансий. 
                    span Например: 
                      strong.color.color--red повар
                  input#search(type="text").input-focus
              div
                select.selectric
                  option(value="Москва") Москва
                  option(value="Актюбинск" selected) Актюбинск
                  option(value="") Санкт-Петербург
                  option(value="") Барнаул
                  option(value="") Уфа
                  option(value="") Волгоград
                  option(value="") Нижний Новгород
                  option(value="") Иркутск
                  option(value="") Краснодар
                  option(value="") Сочи
                  option(value="") Самара		
                  option(value="") Новосибирск
                  option(value="") Омск
                  option(value="") Пермь
                  option(value="") Владивосток
                  option(value="") Ростов-на-Дону
                  option(value="") Рязань
                  option(value="") Екатеринбург
                  option(value="") Казань
                  option(value="") Тула
                  option(value="") Тюмень
                  option(value="") Сургут
                  option(value="") Хабаровск
                  option(value="") Челябинск
                  option(value="") Ярославль
              div
                button(type="submit").btn.btn--header
                  span найти

.mobile__nav-background
#mobile__nav.mobile__nav
  .mobile__nav-wrapper
    button#mobile__nav-button.mobile__nav-button(type="button")
      span
        i.ion-navicon-round
        span Меню
        i.ion-ios-arrow-forward
    .mobile__nav-menu
      ul
        li
          a(href="#!") ищу работу
        li
          a(href="#!")  ищу сотрудников
        li
          a(href="#!")  услуги
        li
          a(href="#!")  контакты
    .mobile__nav-search
      .mobile__nav-search-wrapper.block-focus
        input(type="text" placeholder="Я ищу...").input-focus
        button(type="submit")
          span
            i.ion-search
    .mobile__nav-contacts
      .mobile__nav-title Телефоны для связи
      p 8 (800) 765 43 21
        br
        | +7 495 987 65 43
        br
        | +7 495 123 45 67
        br
        | +38 098 654 32 10
    .mobile__nav-buttons
      div
        a(href="#!").btn.btn--3d.btn--block
          span разместить резюме
      div
        a(href="#!").btn.btn--3d.btn--block
          span разместить вакансию

.navigation
  .container
    .navigation__info
      .navigation__info-wrapper
        img(src="./img/navigation-info-img.png", alt="").navigation__info-img
        .row
          .col-lg-6.col-md-5.hidden-sm.hidden-xs &nbsp;
          .col-lg-6.col-md-7
            .navigation__info-text
              .h2 о сайте
              p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. 
              .clear5
              .h2 Сегодня на сайте 
              table.navigation__info-table.hidden-xxs
                tr
                  td
                    i.icon.icon--navigation-info-1
                  td
                    strong 19 997 
                      small вакансий
                  td
                    i.icon.icon--navigation-info-2
                  td
                    strong 1 017 858
                      small резюме
                  td
                    i.icon.icon--navigation-info-3
                  td
                    strong 54 448
                      small компаний
              table.navigation__info-table.visible-xxs
                tr
                  td
                    i.icon.icon--navigation-info-1
                  td
                    strong 19 997 
                      small вакансий
                tr
                  td
                    i.icon.icon--navigation-info-2
                  td
                    strong 1 017 858
                      small резюме
                tr
                  td
                    i.icon.icon--navigation-info-3
                  td
                    strong 54 448
                      small компаний

    .navigation__wrapper
      div
        .navigation__logo
          a(href="#!")
            img(src="./img/scroll-logo.png", alt="")
        button#navigation__button.navigation__button(type="button")
          span
            i.ion-navicon-round
            span Меню
      div
        .navigation__menu
          ul
            li
              a(href="#!") ищу работу
            li
              a(href="#!") ищу сотрудников
            li
              a(href="#!") услуги
            li
              a(href="#!") контакты
      div
        .navigation__search.block-focus
          input(type="text" placeholder="Я ищу...").input-focus
          button(type="submit")
            span
              i.ion-search
      div
        .navigation__about
          a(href="#!")
            i
            span о проекте

.navigation-separator
