.loader
  .loader__block

#popup-register.popup.popup--register.mfp-hide
  .popup__wrapper
    .popup__close
      i.ion-android-close
    .popup__title Регистрация
    form(action="#")
      fieldset
        .form-group.form-group--radio.form-group--radio-medium
          input#radio1(type="radio" name="radio1" checked)
          i.ion-android-radio-button-off
          i.ion-android-checkmark-circle
          label(for="radio1").label Я работодатель
        .form-group.form-group--radio.form-group--radio-medium
          input#radio2(type="radio" name="radio1")
          i.ion-android-radio-button-off
          i.ion-android-checkmark-circle
          label(for="radio2").label Я соискатель
        
        .clear5
          
        .form-group.has-feedback.block-focus
          label.hidden Ваше имя
          input(type="text" name="name" placeholder="Ваше имя").form-control.input-focus
          i.ion-alert-circled
        .form-group.has-feedback.block-focus.has-error
          label.hidden Ваш email
          input(type="email" name="name" placeholder="Ваш email").form-control.input-focus
          i.ion-alert-circled
        .form-group.has-feedback.block-focus
          label.hidden Ваш телефон
          input(type="text" name="name" placeholder="Ваш телефон").form-control.input-focus
          i.ion-alert-circled
        .form-group.has-feedback.block-focus
          label.hidden Введите пароль
          input(type="password" name="name" placeholder="Введите пароль").form-control.input-focus
          i.ion-alert-circled
        .form-group.has-feedback.block-focus
          label.hidden Повторите пароль
          input(type="password" name="name" placeholder="Повторите пароль").form-control.input-focus
          i.ion-alert-circled
        .form-group.form-group--checkbox.form-group--small
          input#input3(type="checkbox" name="confidental" checked)
          i.ion-android-checkbox-outline-blank
          i.ion-android-checkbox-outline
          label.label(for="input3") Согласен на обработку моих личных данных. 
            a(href="#!" target="_blank") Политика конфиденциальности
        .clear10
        button(type="submit").btn.btn--middle.btn--3d.btn--block
          span Зарегистрироваться
        
        .popup__social
          .popup__social-head 
            span или
          .popup__social-body
            p Регистрация через социальные сети
            a(href="#!")
              i.icon.icon--vk
            a(href="#!")
              i.icon.icon--facebook
            a(href="#!")
              i.icon.icon--ok
            a(href="#!")
              i.icon.icon--mail-ru
            a(href="#!")
              i.icon.icon--google-plus
        
        .popup__form-bottom
          strong Уже зарегистрированы? 
          a(href="#popup-enter").open-popup-enter--inpopup Войти на сайт
        i.icon.popup__register-q1
          span принято верное 
            b решение!
        i.icon.popup__register-q2
          span вы поступили 
            b правильно!
              
#popup-enter.popup.popup--enter.mfp-hide
  .popup__wrapper
    .popup__close
      i.ion-android-close
    .popup__title Вход
    form(action="#")
      fieldset
        .form-group.has-feedback.block-focus
          label.hidden Ваш логин
          input(type="text" name="name" placeholder="Ваш логин").form-control.input-focus
          i.ion-alert-circled
        .form-group.has-feedback.block-focus
          label.hidden Ваш пароль
          input(type="password" name="name" placeholder="Ваш пароль").form-control.input-focus
          i.ion-alert-circled
        .form-group.form-group--checkbox
          label.hidden Запомнить меня
          input#input1(type="checkbox" name="remember" checked)
          i.ion-android-checkbox-outline-blank
          i.ion-android-checkbox-outline
          label(for="input1").label Запомнить меня
        .form-group.form-group--checkbox.form-group--small
          input#input2(type="checkbox" name="confidental" checked)
          i.ion-android-checkbox-outline-blank
          i.ion-android-checkbox-outline
          label(for="input2").label Согласен на обработку моих личных данных. 
            a(href="#!" target="_blank") Политика конфиденциальности
        .clear10
        button(type="submit").btn.btn--middle.btn--3d.btn--block
          span Войти на сайт
        .text-center
          a(href="#!").color.color--dark Забыли пароль?
        
        .popup__form-bottom
          strong Еще не зарегистрированы? 
          a(href="#popup-register").open-popup-register--inpopup Зарегистрироваться
        
#popup-location.popup.popup--location.mfp-hide
  .popup__wrapper
    .popup__close
      i.ion-android-close
    .popup__title Выберите ваше месторасположение
    .popup__info.popup__info--location Укажите желаемый город! От этого зависит выбор вакансий и резюме.
    .popup__search
      .popup__search-wrapper.block-focus
        div
          .input
            label.hidden
            input(type="text" placeholder="Поиск по городам").input-focus
        div
          button(type="submit").btn.btn--header
            span найти
    .popup__city
      ul
        li
          a(href="#!") Москва
        li
          a(href="#!") Санкт-Петербург
        li
          a(href="#!") Барнаул
        li
          a(href="#!") Уфа
        li
          a(href="#!") Волгоград
        li
          a(href="#!") Нижний Новгород
        li
          a(href="#!") Иркутск
        li
          a(href="#!") Краснодар
        li
          a(href="#!") Сочи
        li
          a(href="#!") Самара		
        li
          a(href="#!") Новосибирск
        li
          a(href="#!") Омск
        li
          a(href="#!") Пермь
        li
          a(href="#!") Владивосток
        li
          a(href="#!") Ростов-на-Дону
        li
          a(href="#!") Рязань
        li
          a(href="#!") Екатеринбург
        li
          a(href="#!") Казань
        li
          a(href="#!") Тула
        li
          a(href="#!") Тюмень
        li
          a(href="#!") Сургут
        li
          a(href="#!") Хабаровск
        li
          a(href="#!") Челябинск
        li
          a(href="#!") Ярославль

#popup-respond.popup.popup--respond.mfp-hide
  .popup__wrapper
    .popup__close
      i.ion-android-close
    form(action="#")
      fieldset
        .popup__respond-title Резюме для отклика
        .popup__respond-category Менеджер по продажам
          i.ion-checkmark-circled
        .popup__respond-link
          a(href="#!") Посмотреть свое резюме
        .form-group.form-group--normal
          label
            small.popup__respond-small Написать сопроводительное письмо
          textarea.form-control(name="message")
        .clear10
        button(type="submit").btn.btn--middle.btn--3d.btn--block
          span Отправить

#popup-pay-services.popup.popup--pay-services.mfp-hide
  .popup__wrapper
    .popup__close
      i.ion-android-close
    form(action="#")
      fieldset
        .popup__respond-title Резюме для продвижения
        .popup__respond-category Менеджер по продажам
          i.ion-checkmark-circled
        .popup__info.popup__info--pay-services Автообновление - 
          strong 100 999 
          | руб
        .clear10
        button(type="submit").btn.btn--middle.btn--3d.btn--block
          span Оплатить
          
#popup-respond-resume.popup.popup--respond.mfp-hide
  .popup__wrapper
    .popup__close
      i.ion-android-close
    form(action="#")
      fieldset
        .popup__respond-title Предлагаемая вакансия
        .popup__respond-category Инженер-строитель
          i.ion-chevron-down
        .clear10
        .form-group.form-group--normal
          label
            small.popup__respond-small Написать сопроводительное письмо
          textarea.form-control(name="message" placeholder="Нас заинтересовала Ваша кандидатура, хотели бы пригласить Вас на собеседование.")
        .form-group.has-feedback.block-focus
          label.hidden Номер телефона
          input(type="text" name="name" placeholder="Номер телефона").form-control.input-focus
          i.ion-alert-circled
        .clear
        button(type="submit").btn.btn--middle.btn--block 
          span Отправить

mixin callBlock
  .call-block
    a(href="#!")
    .call-block__title Остались вопросы?
      small Бесплатный звонок по России  
    span.btn.call-block__btn
      span.span.span--normal 
        i.ion-android-call
        | 8 (800) 765 43 21
      span.span.span--hover
        i.ion-android-call
        | заказать звонок
    img(src="./img/call-block.png", alt="")

mixin pagination
  .pagination
    ul
      li.li__prev
        a(href="#!") 
          span
            span alt + 
              i.ion-android-arrow-back
          span предыдущая
      li.li
        a(href="#!") 1
      li.li
        a(href="#!") 2
      li.li
        a(href="#!") 3
      li.li.active
        a(href="#!") 4
      li.li
        a(href="#!") 5
      li.li
        a(href="#!") 6
      li.li
        span ...
      li.li
        a(href="#!") 99
      li.li__next
        a(href="#!")
          span
            span alt + 
              i.ion-android-arrow-forward
          span следующая

mixin phoneVacancy
  .phone__vacancy
    .phone__vacancy-background
    .phone__vacancy-head
      i.ion-android-call
    .phone__vacancy-wrapper
      .phone__vacancy-title Апухтина Ольга Владимировна
      table.phone__vacancy-info
        tr
          td
            i.ion-android-call
          td +7 967 0881891
        tr
          td
            i.ion-android-time
          td с 8 до 20
      a(href="#!").phone__vacancy-mail contabilite@mail.ru
