// User
.settings__nav
  ul
    li
      a(href="#!") Настройки аккаунта
    li
      a(href="#!") Мои резюме
    li
      a(href="#!") Отклики и приглашения
    li
      a(href="#!") Избранные
    li.active
      a(href="#!") Список тестов
    li
      a(href="#!") Платные услуги
      
// Sitebar
.user__sitebar
  ul
    li
      a(href="#!")
        i.icon.icon--sitebar-1
        | Опубликовать телефон
    li
      a(href="#!") 
        i.icon.icon--sitebar-2
        | Подтвердить документы
    li
      a(href="#!") 
        i.icon.icon--sitebar-3
        | Выделить резюме

// Banner
.banner
  a(href="#!")
    img(src="./img/banner-262-2.png", alt="")
